<section id="graph_lback" class="mt-4 mb-4">
    <div class="row text-justify wow fadeIn" data-wow-delay="0.2s">
        <div class="col-lg-10 m-auto">
            <h4 class="card-title text-center">
                Lenguaje Back-End
            </h4>
            <h5 class="card-text mt-4 mb-4">
                El lenguaje Back-End es la tecnología base para la lógica de una Aplicación Web, en la gráfica se muestran todos los lenguajes de programación que se usaron para la construcción de productos basados en la web. La tecnología Back-End comúnmente está asociada también con el servidor de aplicaciones, sin embargo, no es totalmente dependiente. La lógica de la aplicación Web, técnicamente conocida como Lógica del Negocio, está determinada por la programación con el lenguaje Back-End.
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 m-auto mt-4 mb-4">
            <canvas id="worksc-lback"></canvas>
        </div>
    </div>
</section>
