<section id="graph_cmemb" class="pt-4 pb-4">
    <div class="row text-justify wow fadeIn" data-wow-delay="0.2s">
        <div class="col-lg-10 m-auto">
            <h4 class="card-title text-center">
                Cantidad Miembros Equipo de Desarrollo
            </h4>
            <h5 class="card-text pt-4 pb-4">
                El número de miembros en el equipo de trabajo es una variable independiente. Se cree que a mayor número de integrantes la calidad de software en cuanto a la Usabilidad aumentaría. En el siguiente grafico se muestra el número de miembros más frecuentes en el desarrollo de aplicaciones web en el programa de Ingeniería de Sistemas.
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 m-auto pt-3 pb-4">
            <canvas id="worksc-cmemb"></canvas>
        </div>
    </div>
</section>
