<section id="graph_appse" class="mt-4 mb-4">
    <div class="row text-justify wow fadeIn" data-wow-delay="0.8s">
        <div class="col-lg-10 m-auto">
            <h4 class="card-title text-center">
                Servidor De Aplicaciones
            </h4>
            <h5 class="card-text mt-4 mb-4">
                El lanzamiento de una aplicación web en producción se hace a través del servidor de aplicaciones. El Servidor de Aplicaciones es un software que se instala en un equipo servidor, con el objeto de que otro equipo cliente pueda acceder a las aplicaciones desarrolladas que se hayan instalado previamente. La siguiente grafica muestra el software usado como servidor de aplicaciones.
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 m-auto mt-4 mb-4">
            <canvas id="worksc-appse"></canvas>
        </div>
    </div>
</section>
