<section id="graph_ffram" class="pt-4 pb-4">
    <div class="row text-justify wow fadeIn" data-wow-delay="0.2s">
        <div class="col-lg-10 m-auto">
            <h4 class="card-title text-center">
                Framework Front-End
            </h4>
            <h5 class="card-text pt-4 pb-4">
                Los frameworks Front-End son herramientas que facilitan el diseño e interactúan como Plugins para la dinámica del DOM (Document Object Model), estas herramientas pueden ser hojas de estilos, librerías JavaScript o la combinación entre hojas de estilos CSS y JavaScript. En la gráfica se muestra las frecuencias de uso de Frameworks Front-End en el desarrollo de aplicaciones web.
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 m-auto pt-3 pb-4">
            <canvas id="worksc-ffram"></canvas>
        </div>
    </div>
</section>
