<section id="graph_lfron" class="pt-4 pb-4">
    <div class="row text-justify wow fadeIn" data-wow-delay="0.2s">
        <div class="col-lg-10 m-auto">
            <h4 class="card-title text-center">
                Lenguaje Front-End
            </h4>
            <h5 class="card-text pt-4 pb-4">
                El Front-End es la parte de la aplicación web que interactúa directamente con el usuario, es decir, el lenguaje Fron-End son las tecnologías que corren en el navegador web. En la gráfica se muestran los lenguajes utilizados en los trabajos de grado.
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 m-auto pt-3 pb-4">
            <canvas id="worksc-lfron"></canvas>
        </div>
    </div>
</section>
