<section id="graph_lback" class="pt-4 pb-4">
    <div class="row text-justify wow fadeIn" data-wow-delay="0.2s">
        <div class="col-lg-10 m-auto">
            <h4 class="card-title text-center">
                Lenguaje Back-End
            </h4>
            <h5 class="card-text pt-4 pb-4">
                El lenguaje Back-End es la tecnologia base para la logica de una Aplicación Web en la grafica se muestran todos los lenguajes de programación que se usaron para la construcción de productos basados en la web.
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 m-auto pt-3 pb-4">
            <canvas id="worksc-lback"></canvas>
        </div>
    </div>
</section>
