<section id="graph_sgdb" class="mt-4 mb-4">
    <div class="row text-justify wow fadeIn" data-wow-delay="0.2s">
        <div class="col-lg-10 m-auto">
            <h4 class="card-title text-center">
                Sistema Gestor De Bases de Datos
            </h4>
            <h5 class="card-text mt-4 mb-4">
                Un SGDB se utiliza para la persistencia de datos en las aplicaciones web, el siguiente grafico muestra cuales son los diferentes SGDB que se usaron en los trabajos de grado. Las frecuencias se muestran de menor a mayor denotando cual se usa más. La categorías muestran que se usan SGBD's de licencia Libre como también de licencia Privada.
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 m-auto mt-4 mb-4">
            <canvas id="worksc-sgdb"></canvas>
        </div>
    </div>
</section>
