<section id="graph_fback" class="pt-4 pb-4">
    <div class="row text-justify wow fadeIn" data-wow-delay="0.2s">
        <div class="col-lg-10 m-auto">
            <h4 class="card-title text-center">
                Framework Back-End
            </h4>
            <h5 class="card-text pt-4 pb-4">
                Un framework, es un conjunto de componentes que componen un diseño reutilizable que facilita y agiliza el desarrollo de sitios web dinámicos, aplicaciones web y servicios web. El framework Back-End deberá ser del mismo lenguaje Back-End. En la gráfica se muestran las frecuencias de los frameworks más usados en el desarrollo de las Aplicaciones web del programa de Ingeniería de Sistemas de la Universidad de Nariño
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 m-auto pt-3 pb-4">
            <canvas id="worksc-fback"></canvas>
        </div>
    </div>
</section>
