amqp==2.2.2
billiard==3.5.0.3
celery==4.1.0
confusable-homoglyphs==2.0.2
dj-database-url==0.4.2
Django==2.0.1
django-cors-headers==2.1.0
django-registration==2.3
djangorestframework==3.7.7
gunicorn==19.7.1
kombu==4.1.0
psycopg2==2.7.3.2
pytz==2017.3
redis==2.10.6
vine==1.1.4
whitenoise==3.3.1
