<section class="pt-4 pb-4">
    <div class="row text-justify wow fadeIn" data-wow-delay="0.2s">
        <div class="col-lg-10 m-auto">
            <h4 class="card-title text-center">
                Trabajos De Grado Ingeniería De Sistemas
            </h4>
            <h5 class="card-text mt-4 mb-4">
                El siguiente grafico muestra los trabajos de grado desarrollados por los estudiantes de Ingeniería de Sistemas de la Universidad de Nariño en valores porcentuales, para ello se identificó unas características; como el desarrollo de aplicaciones móviles, aplicaciones web, aplicaciones web y móviles, tesis de auditorías y otras tesis.
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 m-auto pt-3">
            <canvas id="works-types"></canvas>
        </div>
    </div>
</section>
<section class="pt-4 pb-4">
    <div class="row">
        <div class="col-lg-10 m-auto col-sm-12">
            <h4 class="card-title text-center">
                Evaluación de la Usabilidad en Trabajos de Grado
            </h4>
            <h5 class="card-text">
                La adopción de Ingeniería de Usabilidad en la construcción de aplicaciones web tiene un porcentaje bajo en los trabajos de Ingeniería de Sistemas llevados a cabo por estudiantes. Al utilizar este método se podría garantizar que Stakeholder y equipo de desarrollo cumplan expectativas y responsabilidades respectivamente. Las evidencias documentales, indican que la construcción de aplicaciones web como trabajos de grado no se tiene en cuenta el atributo de calidad Usabilidad definido por IEEE, ISO/IEC 9126, ISO/IEC 25000, Jacob Nielsen.
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 m-auto">
            <canvas id="works-usability" class="mb-3 mt-4"></canvas>
        </div>
    </div>
</section>
