{% load staticfiles %}
<footer class="page-footer center-on-small-only">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 offset-lg-1 hidden-lg-down">
                <h5 class="title">Ingeniería de Software</h5>
                <p></p>
                <img src="{% static 'img/icon-project.svg' %}"
                     alt=""
                     class="fluid-image"
                     height="150"
                     width="150">
            </div>

            <hr class="hidden-md-up">

            <div class="col-lg-3">
                <h5 class="title">Investigación</h5>
                <ul>
                    <li><a href="">Caracterización Población</a></li>
                    <li><a href="">Evaluación Heurística</a></li>
                    <li><a href="">Diseño Proceso Evaluación</a></li>
                    <li><a href="">Evaluación De La Usabilidad</a></li>
                </ul>
            </div>

            <hr class="hidden-md-up">

            <div class="col-lg-3 col-md-4">
                <h5 class="title">Trabajos Futuros</h5>
                <ul>
                    <li><a href="#!">Usabilidad Contexto Empresarial</a></li>
                    <li><a href="#!">Introducir UE En La Ingenieria de Software</a></li>
                </ul>
            </div>

            <hr class="hidden-md-up">

            <div class="col-lg-2">
                <h5 class="title">Encuéntranos</h5>
                <ul>
                    <li>
                        <a href="#!">
                            <i class="fa fa-facebook"></i>
                            Facebook
                        </a>
                    </li>
                    <li>
                        <a href="#!">
                            <i class="fa fa-twitter"></i>
                            Twitter
                        </a>
                    </li>
                    <li>
                        <a href="#!">
                            <i class="fa fa-youtube"></i>
                            You Tube
                        </a>
                    </li>
                    <li>
                        <a href="#!">
                            <i class="fa fa-google-plus"></i>
                            Google +
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <hr>

    <div class="call-to-action">
        <h4>Usabilidad en Aplicaciones Web</h4>
        <ul>
            <li>
                <h5>Dejanos Tu Opinion</h5></li>
            <li>
                <a href="" class="btn btn-info">
                    Enviar Una Respuesta
                </a>
            </li>
        </ul>
    </div>

    <div class="footer-copyright">
        <div class="container-fluid">
            <h6 class="pt-2 pb-1">
                © 2017 Smart Emotions
                <span class="only-desktop">
                    By
                    <a href="http://facebook.com/">Carlos Guadir</a>
                    <i class="fa fa-star ml-4"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </span>
            </h6>
        </div>
    </div>
</footer>
