<script type="text/javascript">
$('#search-work').validate({
    rules: {
        work_name: {
            required: true,
            minlength: 5
        },
    },
    messages: {
        work_name: {
            required: "Por Favor, digite Nombre Trabajo de Grado",
            minlength: "Disculpe, Nombre Trabajo de Grado Muy Corto"
        },
    },
    errorElement : 'div',
    errorPlacement: function(error, element)
    {
        var placement = $(element).data('error');
        if (placement)
        {
            $(placement).append(error)
        }
        else
        {
            error.insertAfter(element);
        }
    },
    submitHandler: function(form)
    {
        $.ajax({
            url: "{% url 'sea-work' %}",
            type: 'POST',
            data: $("#search-work").serialize(),
            beforeSend: function(request, settings)
            {
                var load = `<i class="fa fa-spinner blue-text fa-pulse fa-3x fa-fw pt-2"
                               style="padding-left:4rem"></i>
                            <span class="sr-only">Loading...</span>`;
                $("#btn_search").html(load);
            },
            success: function(data)
            {
                $('#work_name').blur();
                showResults(data);
                var btn = `<a class="btn btn-info"
                            onclick="searchWork()">
                            Buscar
                            <i class="fa fa-search right ml-3"></i>
                        </a>`;
                $("#btn_search").empty();
                $("#btn_search").html(btn);
            }
        });
    }
});


function searchWork()
{
    if ($('#search-work').valid())
    {
        $('#search-work').submit();
    }
}
// $('#btn-searchwork').click(function ()
// {
//     if ($('#search-work').valid())
//     {
//         $('#search-work').submit();
//     }
// });

function showResults(datos)
{
    html = '';
    if (datos.Empty)
    {
        html += '<h5>Lo sentimos, no se ha encontrado resultados con el nombre especificado, intente con otra frase';
    }
    else
    {
        datos.Works.forEach(elem =>
        {
            enable = ((elem.Type=="Aplicación Web" || elem.Type=="Aplicación Web y Móvil") ? "":"disabled");
            usability = (elem.Usability ? "Si":"No");
            develop = (elem.Develop ? "Si":"No");
            status = (elem.Status=="T" ? "Terminado":"En Proceso");
            html += `<div class="dropdown-divider"
                style="background-color:#b2dfdb !important">
                </div>
            <div class="row">
                <div class="col-lg-12">
                    <h5><b>${elem.Name}</b></h5>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 offset-lg-2">
                    <h5>Estado: <b>${status}</b></h5>
                </div>
                <div class="col-lg-4">
                    <h5 title="Evaluacion de Usabilidad">Evaluación Usabilidad: <b>${usability}</b></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <h5>Año: <b>${elem.Year}</b></h5>
                </div>
                <div class="col-lg-6">
                    <h5>Tipo: <b>${elem.Type}</b></h5>
                </div>
                <div class="col-lg-4">
                    <h5>Desarrollo De Software: <b>${develop}</b></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 offset-lg-5" align="right">
                    <button type="button" name="button"
                            class="btn default-color btn-sm"
                            onclick="editInfo(${elem.Id}, '${elem.Name}', '${elem.Year}', '${elem.Status}', '${elem.Type}', ${elem.Usability}, ${elem.Develop})">
                        Editar Información
                    </button>
                </div>
                <div class="col-lg-4" align="right">
                    <button type="button" name="button"
                            class="btn btn-personalized btn-sm"
                            onclick="charatetization(${elem.Id}, '${elem.Name}', '${elem.Year}', '${elem.Status}', '${elem.Type}', ${elem.Usability}, ${elem.Develop})" ${enable}>
                        Caracterizar Aplicación
                    </button>
                </div>
            </div>`;
        });
    }
    $('#search_results').html(html);
}
</script>
