<section class="pt-4 pb-4" id="graph_year_type" >
    <div class="row text-justify wow fadeIn" data-wow-delay="0.2s">
        <div class="col-lg-10 m-auto">
            <h4 class="card-title text-center">
                Trabajos de Grado 2010 - 2017
            </h4>
            <h5 class="card-text mt-4 mb-4">
                La siguiente grafica muestra la línea de tiempo de las aplicaciones web, aplicaciones móviles y auditorias durante los años 2010 al 2017. Esta investigación se tiene como objetivo conocer la usabilidad de las aplicaciones web que como se puede ver en la gráfica es una población superior a otros tipos de trabajos de grado.
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 m-auto">
            <canvas id="works_year_types" class="mb-3 mt-4"></canvas>
        </div>
    </div>
</section>
