<section class="pt-4 pb-4" id="graph_devel" >
    <div class="row text-justify wow fadeIn" data-wow-delay="0.2s">
        <div class="col-lg-10 m-auto">
            <h4 class="card-title text-center">
                Desarrollo de Software Trabajos de Grado
            </h4>
            <h5 class="card-text mt-4 mb-4">
                El desarrollo de software trata el ámbito de la programación algorítmica, donde intervienen analistas, programadores, arquitectos de software, diseñadores, clientes, usuarios y varias personas más que ayudan a determinar los requerimientos del sistema software. En el programa de Ingeniería de Sistemas de la Universidad de Nariño esta área tiene un porcentaje representativo, en la gráfica se muestra el porcentaje de trabajos de grado que desarrollaron algún tipo de software y el porcentaje de aquellos que no realizaron desarrollo de software.
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 m-auto">
            <canvas id="works_devel" class="mb-3 mt-4"></canvas>
        </div>
    </div>
</section>
