<section class="pt-4 pb-4" id="graph_types" >
    <div class="row text-justify wow fadeIn" data-wow-delay="0.2s">
        <div class="col-lg-10 m-auto">
            <h4 class="card-title text-center">
                Trabajos De Grado Ingeniería De Sistemas
            </h4>
            <h5 class="card-text mt-4 mb-4">
                El siguiente grafico muestra los trabajos de grado desarrollados por los estudiantes de Ingeniería de Sistemas de la Universidad de Nariño en valores porcentuales, para ello se identificó unas características; como el desarrollo de aplicaciones móviles, aplicaciones web, aplicaciones web y móviles, tesis de auditorías y otras tesis.
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 m-auto pt-3">
            <canvas id="works_types"></canvas>
        </div>
    </div>
</section>
