{% extends "base.html" %}
{% block Title %}
Evaluacion de Usabilidad En Aplicaciones Web
{% endblock %}
<!--  -->
{% block Content %}
    <div class="view hm-black-strong">
        <div class="full-bg-img flex-center">
            <ul class="objects-init">
                <li>
                    <h1 class="h1-responsive wow fadeInDown" data-wow-delay="0.2s">
                        Como Gestionar La Usabilidad
                    </h1>
                </li>
                <li>
                    <p class="wow fadeInDown">
                        Identificando Prácticas Para Evaluar La Usabilidad
                    </p>
                </li>
                <li>
                    <a href="#analysis"
                       class="btn btn-primary btn-lg wow fadeInLeft"
                       data-wow-delay="0.2s" rel="nofollow">
                        Ver Análisis
                    </a>
                    <a href="#paperContent"
                       class="btn btn-default btn-lg wow fadeInRight"
                       data-wow-delay="0.2s" rel="nofollow">
                        Metodologías Agiles
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
<!--  -->
