<div class="row mt-4 mb-4">
    <div class="col-lg-12">
        <h5>Servidor De Aplicaciones</h5>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 offset-lg-3 text-left" data-toggle="tooltip" data-placement="left" title="El Servidor de Aplicaciones es un software que se instala en un equipo servidor, con el objeto de que otro equipo cliente pueda acceder a las aplicaciones desarrolladas que se hayan instalado previamente. Este funcionamiento corresponde a la denominada  arquitectura Cliente-Servidor.">
        <div class="radio radio-info">
            <input name="workc_appser" id="appse1"
                   value="Apache"
                   type="radio">
            <label for="appse1">
                Apache
            </label>
        </div>
        <div class="radio radio-info">
            <input name="workc_appser" id="appse2"
                   value="Nginx"
                   type="radio">
            <label for="appse2">
                Nginx
            </label>
        </div>
        <div class="radio radio-info">
            <input name="workc_appser" id="appse3"
                   value="GlassFish"
                   type="radio">
            <label for="appse3">
                GlassFish
            </label>
        </div>
        <div class="radio radio-info">
            <input name="workc_appser" id="appse4"
                   value="TomCat"
                   type="radio">
            <label for="appse4">
                TomCat
                <!-- Jackarta Tomcat -->
            </label>
        </div>
        <div class="radio radio-info">
            <input name="workc_appser" id="appse5"
                   value="IIS"
                   type="radio">
            <label for="appse5">
                IIS
            </label>
        </div>
        <div class="radio radio-info">
            <input name="workc_appser" id="appse6"
                   value="No Especificado"
                   type="radio">
            <label for="appse6">
                No Especificado
            </label>
        </div>
    </div>
</div>
