<div class="row mt-4 mb-4">
    <div class="col-lg-12">
        <h5>Lenguaje Back-End</h5>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 offset-lg-3 text-left" data-toggle="tooltip" data-placement="right"
    title="El lenguaje Back-End es aquel que se encuentra del lado del servidor, encargado de interactuar con bases de datos, manejo sesiones de usuarios y seguridad.">
        <div class="radio radio-info">
            <input name="workc_laback" id="radio1"
                   value="PHP"
                   type="radio">
            <label for="radio1">
                PHP
            </label>
        </div>
        <div class="radio radio-info">
            <input name="workc_laback" id="radio2"
                   value="Python"
                   type="radio">
            <label for="radio2">
                Python
            </label>
        </div>
        <div class="radio radio-info">
            <input name="workc_laback" id="radio3"
                   value="JavaScript"
                   type="radio">
            <label for="radio3">
                JavaScript
            </label>
        </div>
        <div class="radio radio-info">
            <input name="workc_laback" id="radio4"
                   value="Java"
                   type="radio">
            <label for="radio4">
                Java
            </label>
        </div>
        <div class="radio radio-info">
            <input name="workc_laback" id="radio5"
                   value="C#"
                   type="radio">
            <label for="radio5">
                C#
            </label>
        </div>
        <div class="radio radio-info">
            <input name="workc_laback" id="radio7"
                   value="Visual Basic"
                   type="radio">
            <label for="radio7">
                Visual Basic
            </label>
        </div>
        <div class="radio radio-info">
            <input name="workc_laback" id="radio6"
                   value="No Especificado"
                   type="radio">
            <label for="radio6">
                No Especificado
            </label>
        </div>
    </div>
</div>
