<div class="row mt-4 mb-4">
    <div class="col-lg-12">
        <h5>Framework Back-End Desarrollo Web</h5>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 offset-lg-3 text-left" data-toggle="tooltip" data-placement="left" title="Un framework, es un conjunto de componentes que componen un diseño reutilizable que facilita y agiliza el desarrollo de sitios web dinámicos, aplicaciones web y servicios web. El framework Back-End deberá ser del mismo lenguaje Back-End">
        <div class="radio radio-info">
            <input name="workc_framew" id="frame2"
                   value="DJango"
                   type="radio">
            <label for="frame2">
                DJango
            </label>
        </div>
        <div class="radio radio-info">
            <input name="workc_framew" id="frame3"
                   value=".NET"
                   type="radio">

            <!-- data-subtext="ASP" -->
            <label for="frame3">
                .NET
            </label>
        </div>
        <div class="radio radio-info">
            <input name="workc_framew" id="frame4"
                   value="Flask"
                   type="radio">
            <label for="frame4">
                Flask
            </label>
        </div>
        <div class="radio radio-info">
            <input name="workc_framew" id="frame5"
                   value="Java Server Faces"
                   type="radio">
            <label for="frame5">
                JSF
            </label>
        </div>
        <div class="radio radio-info">
            <input name="workc_framew" id="frame6"
                   value="Java Server Pages"
                   type="radio">
            <label for="frame6">
                JSP
            </label>
        </div>
        <div class="radio radio-info">
            <input name="workc_framew" id="frame7"
                   value="Cake PHP"
                   type="radio">
            <label for="frame7">
                Cake PHP
            </label>
        </div>
        <div class="radio radio-info">
            <input name="workc_framew" id="frame8"
                   value="Yii PHP"
                   type="radio">
            <label for="frame8">
                Yii PHP
            </label>
        </div>
        <div class="radio radio-info">
            <input name="workc_framew" id="frame9"
                   value="CodeIgniter"
                   type="radio">
            <label for="frame9">
                CodeIgniter
            </label>
        </div>
        <div class="radio radio-info">
            <input name="workc_framew" id="frame1"
                   value="No Especificado"
                   type="radio">
            <label for="frame1">
                No Especificado
            </label>
        </div>
    </div>
</div>
