<div class="row mt-4 mb-4">
    <div class="col-lg-12">
        <h5>Lenguaje Front-End</h5>
    </div>
</div>

<div class="row">
    <div class="col-lg-10 offset-lg-1">
        <div class="md-form">
            <select class="selectpicker show-tick dropup"
                    data-header="Lenguaje Front-End"
                    data-style="btn-info"
                    data-width="100%"
                    id="workc_lafron"
                    title="Selecione Lenguajes Fron-End Utilizados" multiple>
                    <option value="JavaScript">JavaScript</option>
                    <option value="Html">Html</option>
                    <option value="CSS">CSS</option>
                    <option value="JSon">JSon</option>
                    <option value="XML">XML</option>
                    <option value="XAML">XAML</option>
                    <option value="No Especificado">No Especificado</option>
            </select>
        </div>
    </div>
</div>
