<div class="row mt-4 mb-4">
    <div class="col-lg-12">
        <h5>Sistema Gestor de Bases de Datos</h5>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 offset-lg-3 text-left" data-toggle="tooltip" data-placement="left" title="Un SGBD permite el almacenamiento (Persistencia), manipulación y consulta de datos pertenecientes a una base de datos. En el modelo más extendido (Base de datos Relacional) la base de datos consiste, en un conjunto de tablas entre las que se establecen relaciones.">
        <div class="radio radio-info">
            <input name="workc_sysgdb" id="sgdb1"
                   value="Microsoft Access"
                   type="radio">
            <label for="sgdb1">
                Microsoft Access
            </label>
        </div>
        <div class="radio radio-info">
            <input name="workc_sysgdb" id="sgdb2"
                   value="MySQL"
                   type="radio">
            <label for="sgdb2">
                MySQL
            </label>
        </div>
        <div class="radio radio-info">
            <input name="workc_sysgdb" id="sgdb3"
                   value="MariaDB"
                   type="radio">
            <label for="sgdb3">
                MariaDB
            </label>
        </div>
        <div class="radio radio-info">
            <input name="workc_sysgdb" id="sgdb4"
                   value="PostgreSQL"
                   type="radio">
            <label for="sgdb4">
                PostgreSQL
            </label>
        </div>
        <div class="radio radio-info">
            <input name="workc_sysgdb" id="sgdb5"
                   value="Oracle"
                   type="radio">
            <label for="sgdb5">
                Oracle
            </label>
        </div>
        <div class="radio radio-info">
            <input name="workc_sysgdb" id="sgdb6"
                   value="SQL Server"
                   type="radio">
            <label for="sgdb6">
                SQL Server
            </label>
        </div>
        <div class="radio radio-info">
            <input name="workc_sysgdb" id="sgdb7"
                   value="No Especificado"
                   type="radio">
            <label for="sgdb7">
                No Especificado
            </label>
        </div>
    </div>
</div>
